.titulos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    color: #FFF;
}

h2 {
    font-size: 2vh;
    margin-bottom: 2vh;
}

.titulo-principal {
    font-family: 'Playfair';
    font-size: 7vh;
    color: #FFF;
    margin-bottom: 3vh;
}

.ingredientes-titulo {
    margin-top: 2vh;
}

.car {
    color: #FFF;
    transition: all .5s;
}

.car:hover {
    color: var(--primary-color);
    transition: all .5s;
}

#banner {
    background-image: url('../img/publicidad.jpg');
    height: 30vh;
}

.contenedor-opciones {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
}

.contenedor-pizzas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 80%;
    margin: 5vh 0 0 0;
}

.carta-pizza {
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    width: 50vw;
    max-width: 25vh;
    padding: 5vh;
    color: var(--third-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 0 1vw 2vw 1vw;
}

.imagen-pizza {
    width: 50vw;
    max-width: 25vh;
}

.ingredientes, .precios {
    list-style-type: none;
    margin: 1vh 0 1vh 0;
}

.precios-info {
    margin: 1vh 0 1vh 0;
}

.boton-compra {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: all .5s;
}

.boton-compra:hover{
    color:#F9F1E6 !important;
    background-color: var(--primary-color);
}

.circulo {
    display: none;
    background-color: var(--third-color);
    border-radius: 50%;
    position: absolute;
    transition: transform 1s ease;
    height: 2vh;
    width: 2vh;
    z-index: 999;
}

@media screen and (min-aspect-ratio: 4/3) {
    .contenedor-pizzas {
        width: 60%;
    }
}