
.ingredientes-titulo {
    margin-top: 2vh;
    color: #222C2E;
}

.card-banner{
    margin: 0 auto;
    color: white;
}
.card-banner h1{
    margin: 50px;
    font-family: 'Playfair';
    font-size: 4vw;
    
}

.card-banner h2, .container h2{
    margin-bottom: 20px;
}
.titulo-principal {
    font-family: 'Playfair';
    font-size: 7vh;
    margin-bottom: 3vh;
}
.titulo-secundario{
    font-family: 'Bebas Neue';
    font-size: 3vh;
    margin-bottom: 2vh;
}
.ingredientes{
    color:#222C2E;
}
.d-flex{
    display: flex ; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}
#banner-menu{
    height: 37vh;
    background-image: url('../image/publicidad/publicidad-menu.jpg');
    background-size: cover;
    background-position: center;
    
    box-shadow:inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
    text-align: center;
}


.contenedor-opciones {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    margin-top: 8vh;
}

.contenedor-pizzas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 80%;
    margin-top: 5vh;
}

.carta-pizza {
    display: grid;
    grid-template-rows: auto 12vh auto;
    text-align: center;
    align-items: center;
    width: 100vw;
    max-width: 35vh;
    color: white;
    border-radius: 10px;
    margin: 0 1vw 2vw 1vw;
    box-shadow: 0px 0px 25px 0px #dfd7cb;
}

.descripcion, .ingredientes-titulo {
    padding: 1vh;
    border-radius: 5%;
}

.descripcion-gral {
    display: grid;
    grid-template-rows: 5vh auto 15vh;
    height: 36vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f9755434;
}

.contenedor-precios {
    background-color: #222C2E;
    border-radius: 5%;
    padding: 1vh;
    margin: 5vh;
}

.nombre-pizza {
    color: #C85043;
    padding: 2vh;
}

.descripcion {
    color: #C85043;
}

.imagen-pizza {
    width: 50vw;
    max-width: 25vh;
    margin: auto;
}

.ingredientes, .precios {
    list-style-type: none;
    margin: 1vh 0 1vh 0;
}

.precios-info {
    margin: 1vh 0 1vh 0;
}

.notificacion {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 60vw;
    max-width: 50vh;
    height: 25vh;
    padding: 3vh;
    background-color: var(--bg-color);
    border-radius: 10px;
    margin: 0 2vw 2vw 0;
    transition: right 1s;
    box-shadow: 0px 0px 10px 0px #dfd7cb;
}

.mostrar {
    right: -100%;
}

#descripcionContenedor {
    height: 21vh;
    width: 24vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2vh;
}

.compra-info {
    display: grid;
    grid-template-rows:auto auto auto;
    align-items: center;
    margin-left: 3vh;
}

.notificacion-titulo, .notificacion-titulo a {
    width: 24vh;
    color: var(--third-color);
    transition: .5s all;
}

.notificacion-vinculo:hover {
    color: #FFF;
    transition: .5s all;
}

#compraImagen {
    height: 18vh;
    margin: -10px auto auto auto;
}

@media screen and (min-width: 540px) {
    .notificacion {
        display: grid;
        grid-template-columns: 60% 35%;
        justify-content: space-around;
    }

    .contenedor-pizzas {
        width: 60%;
    }
}
