
:root{
    --bg-color:#F9F1E6;
    --primary-color:#F97350;
    --secondary-color:#ffc098;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
}

*{
    margin:0;
    padding:0;
    
}

a{
    text-decoration: none;
}
body{
    background-color: var(--bg-color);
    font-family: 'Nunito', sans-serif;
}

#logo{
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color:var(--primary-color);
}

.nav-links a:hover{
    color: var(--secondary-color) ;
}

.btn-cac:hover{
    color:#F9F1E6 !important;
    background-color: var(--primary-color);
}


.scrolled{
    background-color: #E98158;
}


.header{
    background-color: #F9F1E6;
    color:var(--primary-color); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    box-shadow: 0px 20px 25px -30px #B7AC9A;
}

.btn-cac{
    border: 2px solid var(--secondary-color);
    padding: 10px 20px;
    border-radius: 10px;
    color:#FFF;
    font-weight: bold;
    transition: all .5s;
}

#logo a{
    
    color: #B7AC9a;
    border: 2px solid #B7AC9A;
    text-decoration: none;
    font-family: 'Sancreek';
    font-size: 28px;
    padding: 10px;
}

#footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color:var(--secondary-color);
}

#footer {
    align-items: center;
    background-color: #222C2E;
    color: white;
    padding: 20px;
}
footer .contacto-sucursal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

footer .caja-flexible{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
footer .contacto ul, footer .navegadores ul{
    list-style-type: none;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
}

footer .contacto-individual, footer .navegadores{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

footer .contacto-individual p, footer .navegadores p{
    font-weight: bold;
    background-color: #F9F1E6;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo-text{
        display: none;
    }
        
    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

/* CELULARES */
@media screen and (max-width: 767px) {
   
    .logo-text{
        display: none;
    }

    .btn-cac{
        font-size: 1vh;
    }
    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer a{
        padding: 2px 0px;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;   
    padding: 0px 50px;
}

.nav-links{
    display: flex;
    gap:30px;
    list-style: none;
}

/* width */
 ::-webkit-scrollbar {
    width: 10px;
} 
  
/* Track */
 ::-webkit-scrollbar-track {
    background: var(--bg-input-color); 
} 
   
/* Handle */
 ::-webkit-scrollbar-thumb {
    background: var(--third-color); 
} 
  
/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background:#E98158; 
}

.car {
    color: #FFF;
    transition: all .5s;
}

.car:hover {
    color: var(--primary-color);
    transition: all .5s;
}

.boton-compra {
    background-color: #C85043;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: all .5s;
    border: none;
}

.boton-compra:hover{
    color:#F9F1E6 !important;
    background-color: var(--primary-color);
    cursor: pointer;
}
