<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Estancia - Pedidos</title>

    <!--Vinculación con CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/pedidos.css">
    <!--Vinculación favicon-->
    <link rel="shortcut icon" href="../static/image/favicon/pizza-outline.ico" type="image/x-icon">

     <!-- vinculación con google-fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Danfo&family=Sancreek&display=swap" rel="stylesheet">
 
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Danfo&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Sancreek&display=swap" rel="stylesheet">
 
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
     <!-- vinculación fontawesome -->
     <script src="https://kit.fontawesome.com/9ecf2606fd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--Encabezado-->
    <header class="header">
      <nav>
        <!-- Logo -->
        <div id="logo">
          <a href="../index.html">
            <span class="logo-text">La estancia</span>
          </a>
        </div>

        <!-- hipervínculos del menú -->
        <ul class="nav-links">
            <li><a href="./pizzas.html" class="btn-cac">Menú</a></li>
            <li><a href="./pedidos.html" class="btn-cac">Pedidos</a></li>
            <li><a href="./contacto.html" class="btn-cac">Contacto</a></li>
          </ul>
      </nav>
   </header>
    
    <!--Contenido Principal-->
    <main class="contenedor-principal">
        <!--Títulos del sitio-->
        <section id="banner" class="titulos">
            <h1 class="titulo-principal">Pedido</h1>
            <h2 class="titulo-secundario">Si aún no seleccionaste ningún producto, por favor dirigete a <a class="car" href="./pizzas.html">menú</a> para añadir productos.</h2>
        </section>

      <!--Productos seleccionados del menú-->
      <div id="productosElegidos" class="productos-elegidos">
          <!--Por ahora, ponemos pedidos prehechos, hasta que podamos recibir la información de una base de datos-->
          <div id="contenedor0" class="contenedor-producto">
            <img class="imagen-producto" src="../static/image/comercial/pizza/pizza-muzzarella.png" alt="Foto de nuestra pizza de muzzarella">
            <p class="nombre-producto">Nombre: Pizza de Muzzarella</p>
            <p class="dato-producto">Tamaño: Mediana</p>
            <p class="precio-producto">Precio: $5200</p>
            <i class="fa fa-trash fa-2x icono-basura" aria-hidden="true" onclick="eliminarProducto('contenedor0')"></i>
          </div>
          <div id="contenedor1" class="contenedor-producto">
            <img class="imagen-producto" src="../static/image/comercial/pizza/pizza-salame.png" alt="Foto de nuestra pizza de muzzarella">
            <p class="nombre-producto">Nombre: Pizza de Salame picante</p>
            <p class="dato-producto">Tamaño: Grande</p>
            <p class="precio-producto">Precio: $6800</p>
            <i class="fa fa-trash fa-2x icono-basura" aria-hidden="true" onclick="eliminarProducto('contenedor1')"></i>
          </div>
          <div id="contenedor2" class="contenedor-producto">
            <img class="imagen-producto" src="../static/image/comercial/pizza/pizza-napolitana.png" alt="Foto de nuestra pizza de muzzarella">
            <p class="nombre-producto">Nombre: Pizza Napolitana</p>
            <p class="dato-producto">Tamaño: Mediana</p>
            <p class="precio-producto">Precio: $5600</p>
            <i class="fa fa-trash fa-2x icono-basura" aria-hidden="true" onclick="eliminarProducto('contenedor2')"></i>
          </div>
      </div>

      <!--Datos para realizar la compra-->
      <section class="contenedor-formulario">
          <h4 class="titulo-formulario">Llena estos datos para confirmar tu compra</h4>
          <form action="../index.html">
            <label for="nombre">Nombre con el que nos referiremos a usted: </label>
            <input id="nombre" class="input dato" name="nombre" type="text" placeholder="Ingresa tu nombre aquí...">
            <label for="mail">Mail para contactarnos en caso de que ocurra algo con su pedido: </label>
            <input id="mail" class="input dato" name="mail" type="email" placeholder="Ingresa tu mail aquí...">
            <label for="direccion">Dirección a la que enviaremos el pedido: </label>
            <input id="direccion" class="input dato" name="direccion" type="text" placeholder="Ingresa tu dirección aquí...">
            <label for="aclaracion">¿Nos quieres hacer alguna aclaracion sobre el pedido?</label>
            <textarea id="aclaracion" class="input aclaracion" name="aclaracion" placeholder="Ingresa tu aclaración aquí (opcional)..."></textarea>
            <div id="contenedorTotal" class="contenedor-total">
              <p>El total a pagar es:</p>
              <p id="precioTotal" class="precio-total"></p>
            </div>
            <p>*<i>Aceptamos dinero en efectivo o transferencia de Mercado Pago por un qr que le mostrará el repartidor como métodos de pago.</i></p>
            <input class="boton-compra" type="submit" value="Confirmar">
          </form>
      </section>
    </main>

    <!--Footer-->
    <footer id="footer">
      <a href="#">Términos y condiciones</a>
      <a href="#">Nosotros</a>
    </footer>

    <!--Vinculación con JavaScript-->
    <script src="../static/scripts/pedidos.js"></script>
  </body>
</html>
